html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #f9f9f9;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 1rem;
    font-size: 1rem;
    font-weight: 800;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(0,0,0,.15);
}

li {
    border-bottom: 1px solid rgba(0,0,0,.15);
    padding: 1rem;
}

a {
    text-decoration: none;
    color: #0d6efd;
}